.selection {
  font-family: sans-serif;
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: left;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#category-list {
  padding: 5px;
}

.sport-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}